<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Pictures</title>
</head>
<body>
    <h1>Pictures</h1>
    {% for pic in pictures %}
        <h2>{{pic.title}} By: {{ pic.artist}}</h2>
        <img src="{{pic.url}}" alt = "{{pic.title}}" > 

        {% for comment in comments %}
        
            <p>Comments: {{pic.comments.count}}</p>

        {% endfor  %}
    
    {% endfor %}
    
</body>
</html>