{% extends 'base.html' %}
{% block content %}
    <h1>Pictures</h1>
        <ul>
            {% for pic in pictures %}
                <h2>{{pic.title}} By: {{ pic.artist}}</h2>
                <a href="{% url 'picture_details' id=pic.pk %}">
                    <li>
                        <img src="{{pic.url}}" alt = "{{pic.title}}">
                    </li> 
                </a>
            {% for comment in comments %}
        
            <p>Comments: {{pic.comments.count}}</p>

        {% endfor  %}
        <ul>
    
    {% endfor %}
{% endblock %}